@model Hotel

<div class="hotel-details">
    <h1>@Model.Name</h1>
    <p>@Model.Description</p>

    <h3>Images</h3>
    <div id="hotelImagesCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            @foreach (var img in Model.ImageLists)
            {
                <div class="carousel-item active ">
                    <img src="~/images/subImage/@Model.Name/@img.ImgUrl" class="d-block w-25" alt="Hotel Image">
                </div>
            }
        </div>
        <a class="carousel-control-prev" href="#hotelImagesCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#hotelImagesCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

     <h3>Rooms</h3>
    <p>Total Rooms: @Model.Rooms.Count</p>
    <p>Available Rooms: @Model.Rooms.Count(r => r.IsAvailable)</p>

    <ul>
        @foreach (var room in Model.RoomTypes)
        {
            <li>
                <strong>@room.AvailableRooms . @room.Type</strong> - @room.PricePN.ToString("C")

               
                
            </li>
        }
        <a asp-area="Customer" asp-controller="Booking" asp-action="Book" asp-route-hotelId="@Model.Id"  class="btn btn-primary">Book Room</a>

    </ul>

    
</div>
