@model ICollection<Hotel>
<style>
    /* Home Page Styles */
    .container {
        margin-top: 30px;
    }

    h1.text-center {
        font-size: 2.5rem;
        color: #343a40;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .card {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        overflow: hidden;
        transition: transform 0.3s, box-shadow 0.3s;
    }

        .card:hover {
            transform: scale(1.05);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
        }

        .card img {
            height: 200px;
            object-fit: cover;
        }

    .card-title {
        font-size: 1.25rem;
        color: #007bff;
        font-weight: bold;
    }

    .card .btn-primary {
        background-color: #007bff;
        border: none;
        border-radius: 5px;
    }

        .card .btn-primary:hover {
            background-color: #0056b3;
        }

    .pagination {
        justify-content: center;
        margin-top: 20px;
    }

</style>

    <div class="container mt-4">
        <form class="d-flex" method="get" action="@Url.Action("Index", "Home")">
            <input class="form-control me-sm-2"
                   type="search"
                   placeholder="Search by Name or Description or City or Address or Amenities"
                   value="@ViewBag.search"
                   name="search" />
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>

        @if (ViewBag.search != null)
        {
            <h6 class="row-cols-1">
                Total Results: @ViewBag.totalResult
            </h6>
        }
        <br />
        <h1 class="text-center">Explore Hotels by City</h1>
        <br />
        <div class="row">
            @if (Model.Any())
            {
                @foreach (var hotel in Model)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="~/images/homeImage/@hotel.CoverImg" class="card-img-top" alt="@hotel.Name" style="height: 200px; object-fit: cover;">
                            <div class="card-body">
                                <h5 class="card-title"><strong>@hotel.Name</strong> </h5>
                                <br />
                                <p>
                                    @for (int i = 0; i < hotel.Stars; i++)
                                    {
                                        <i class="bi bi-star-fill" style="color: gold;"></i>
                                    }
                                </p>
                                <p class="card-text">
                                    <a href="https://www.google.com/maps/search/?api=1&query=@Uri.EscapeDataString(hotel.Address)"
                                       target="https://ar.trivago.com/ar-145?themeId=280&sem_keyword=trivago&sem_creativeid=719176583703&sem_matchtype=e&sem_network=g&sem_device=c&sem_placement=&sem_target=&sem_adposition=&sem_param1=&sem_param2=&sem_campaignid=283863652&sem_adgroupid=25643578372&sem_targetid=aud-1811962056193:kwd-5593367084&sem_location=9195686&cipc=br&cip=9661900005&gad_source=1&gclid=Cj0KCQiAr7C6BhDRARIsAOUKifivzz4QERxqbjmiyQ68dGNJvjyV1TE9OmiGOMDCz75KYnit1EWd6jEaArJPEALw_wcB"
                                       class=""
                                       title="Open location of @hotel.Name in Google Maps">
                                        <i class="bi bi-geo-alt"></i>@hotel.City
                                    </a>
                                </p>
                                <p class="card-text">
                                    @if (hotel.Rooms.Any())
                                    {
                                        @foreach (var con in hotel.Rooms)
                                        {
                                            if (con.IsAvailable == true)
                                            {
                                                <span class="badge bg-success">Rooms Available </span>
                                            }
                                            else
                                            {
                                                <span class="badge bg-danger">No Available Rooms</span>
                                            }

                                        }


                                    }
                                    else
                                    {
                                        <span class="badge bg-danger">No Available Rooms</span>
                                    }




                                </p>

                                <p class="card-text">
                                    @if (hotel.HotelAmenities.Any())
                                    {
                                        @foreach (var amenity in hotel.HotelAmenities)
                                        {
                                            <span class="badge bg-info">@amenity.Amenity.Name</span>
                                        }
                                    }
                                    else
                                    {
                                        <span>No amenities available</span>
                                    }
                                </p>

                                <a href="@Url.Action("Details", "Home", new { id = hotel.Id })" class="btn btn-primary">View Details</a>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <p class="text-center">No hotels found.</p>
            }
        </div>
    </div>


    <!-- Pagination -->
    <nav aria-label="Page navigation example" class="mt-4">
        <ul class="pagination justify-content-center">
            <li class="page-item @(ViewBag.pageNumber <= 1 ? "disabled" : "")">
                <a class="page-link" href="?pageNumber=@(ViewBag.pageNumber - 1)&city=@ViewBag.city&search=@ViewBag.search" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 1; i <= ViewBag.totalPages; i++)
            {
                <li class="page-item @(i == ViewBag.pageNumber ? "active" : "")">
                    <a class="page-link" href="?pageNumber=@i&city=@ViewBag.city&search=@ViewBag.search">@i</a>
                </li>
            }
            <li class="page-item @(ViewBag.pageNumber >= ViewBag.totalPages ? "disabled" : "")">
                <a class="page-link" href="?pageNumber=@(ViewBag.pageNumber + 1)&city=@ViewBag.city&search=@ViewBag.search" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
