@model ICollection<Hotel>

<div class="container mt-4">
    <h1 class="text-center">Explore Hotels by City</h1>

    <div class="row">
        @if (Model.Any())
        {
            @foreach (var hotel in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="~/images/homeImage/@hotel.CoverImg" class="card-img-top" alt="@hotel.Name" style="height: 200px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title">@hotel.Name</h5>
                            <p class="card-text">@hotel.City</p>
                            <a href="@Url.Action("HotelsByCity", "Home", new { city = hotel.City })" class="btn btn-primary">
                                View All Hotels in @hotel.City
                            </a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p class="text-center">No hotels found.</p>
        }
    </div>
</div>
