@model ICollection<Hotel>
 
<div class="container mt-4">
        <form class="d-flex" method="get" action="@Url.Action("Index", "Home")">
            <input class="form-control me-sm-2"
            type="search"
            placeholder="Search by Name or Description or City or Address or Amenities"
            value="@ViewBag.search"
            name="search" />
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>

    @if (ViewBag.search != null)
    {
        <h6 class="row-cols-1">
            Total Results: @ViewBag.totalResult
    </h6>
    }
    <br />   
    <h1 class="text-center">Explore Hotels by City</h1>
    <br />
    <div class="row">
        @if (Model.Any())
        {
            @foreach (var hotel in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="~/images/homeImage/@hotel.CoverImg" class="card-img-top" alt="@hotel.Name" style="height: 200px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title">@hotel.Name</h5>
                            <p class="card-text">@hotel.City</p>
                            <p class="card-text">
                                <strong>Amenities:</strong>
                                @if (hotel.HotelAmenities.Any())
                                {
                                    @foreach (var amenity in hotel.HotelAmenities)
                                    {
                                        <span class="badge bg-info">@amenity.Amenity.Name</span>
                                    }
                                }
                                else
                                {
                                    <span>No amenities available</span>
                                }
                            </p>
                            <p class="card-text">
                                @if(hotel.Rooms.Any())
                                {
                                    @foreach(var con in hotel.Rooms)
                                    {
                                        if(con.IsAvailable==true)
                                        {
                                               <span class="badge bg-info">Rooms Available </span>
                                        }
                                        else
                                        {
                                             <span class="badge bg-info">No Available Rooms</span>
                                        }
                                    
                                    }

                                    
                                }
                                else
                                {
                                    <span class="badge bg-info">No Available Rooms</span>
                                }
                                



                            </p>

                            <a href="@Url.Action("HotelsByCity", "Home", new { city = hotel.City })" class="btn btn-primary">
                                View All Hotels in @hotel.City
                            </a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p class="text-center">No hotels found.</p>
        }
    </div>
</div>
