@model ICollection<Hotel>

<style>
    .container {
        margin-top: 30px;
    }

    h1.text-center {
        font-size: 2.5rem;
        color: #343a40;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .card {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        overflow: hidden;
        transition: transform 0.3s, box-shadow 0.3s;
    }

        .card:hover {
            transform: scale(1.05);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
        }

        .card img {
            height: 200px;
            object-fit: cover;
        }

    .card-title {
        font-size: 1.25rem;
        color: #007bff;
        font-weight: bold;
    }

    .card .btn-primary {
        background-color: #007bff;
        border: none;
        border-radius: 5px;
    }

        .card .btn-primary:hover {
            background-color: #0056b3;
        }

    .pagination {
        justify-content: center;
        margin-top: 20px;
    }

</style>

<div class="container mt-4">
        <form class="d-flex" method="get" action="@Url.Action("Index", "Home")">
            <input class="form-control me-sm-2"
            type="search"
            placeholder="Search by City "
            value="@ViewBag.search"
            name="search" />
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>

    @if (ViewBag.search != null)
    {
        <h6 class="row-cols-1">
            Total Results: @ViewBag.totalResult
    </h6>
    }
    <br />   
    <h1 class="text-center">Explore Hotels by City</h1>
    <br />
    <div class="row">
        @if (Model.Any())
        {
            @foreach (var hotel in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="~/images/homeImage/@hotel.CoverImg" class="card-img-top" alt="@hotel.Name" style="height: 200px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title"><strong>@hotel.City</strong> </h5>
                            
                            <a href="@Url.Action("HotelsByCity", "Home", new { city = hotel.City })" class="btn btn-primary">
                                View All Hotels in @hotel.City
                            </a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p class="text-center">No hotels found.</p>
        }
    </div>
</div>
</div>